.scanner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.scan-button{
  font-size: 32px;
} 

.result {
  margin-top: 20px;
  font-size: 24px;
  color: red;
}